<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Population finally</span>
  </ion-nav-title>
  <ion-content>
    <div class="list layouts-functionalities">
      <a class="item item-icon-left item-icon-right" ui-sref="app.tinder-cards">
        <i class="icon ion-happy-outline"></i>
        <div>
          <span class="title">Population Density</span>
          <p class="description">The amount of people per squere km</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ui-sref="app.nationalities">
        <i class="icon ion-arrow-swap"></i>
        <div>
          <span class="title">Nationalities</span>
          <p class="description">World's Nationalities on the Map</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
