<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Layouts</span>
  </ion-nav-title>
  <ion-content>
     <div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
      <h1>Map</h1>
      <leaflet defaults="map.defaults"
             width="300px"
             height="300px">
    </leaflet>
  </div>
  </ion-content>
</ion-view>
