<ion-view class="walkthrough-view">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <img ng-src="img/logo.png">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <button class="login button button-block button-stable" ng-click="goToLogIn()">
          Log In
        </button>
        <button class="sign-up button button-block button-stable" ng-click="goToSignUp()">
          Sign Up
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
