.signup-view
{
	background-color: darken($light, 60%) !important;

	.row
	{
		height:100%;
	}

	.sign-up-container
	{
		margin-bottom: 0px;
	}

	.bottom-content
	{
		padding-top: 0px;
		border: none;

		.button
		{
			margin: 0px;
			font-weight: bold;
		}
	}

	.alternative-actions
	{
		margin: 0px 10px;

		.button
		{
			padding:0px;
			font-size:14px;
		}
	}
}
