.walkthrough-view,
.login-view,
.signup-view,
.forgot-password-view
{
	background-color: darken($dark, 70%) !important;

	ion-content:before
	{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;

		opacity: 0.6;

		display: block;
		background: url($images-path+"/bg-6.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;

		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}
}

.walkthrough-view
{
	.top-content
	{
		height:75%;
		text-align:center;

		h1
		{
			color:$light;
		}
	}

	.bottom-content
	{
		height:25%;
		padding-top:5px;
		margin-top: 0px;

		.button
		{
			border:none;
			color: $light;
			font-weight: bolder;
			font-size: 20px;
			line-height: 20px;
		}

		.login.button
		{
			background-color: rgba(lighten($positive, 10%), .35);
		}

		.sign-up.button
		{
			background-color: rgba($stable, .20);
		}
	}
}
